/* Reset */
*,*:before,*:after {
    box-sizing: border-box;
    margin: 0;
    font-weight: 300
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
    /* Center all content on the page */
    display: flex;
    justify-content: center;
}
